@model PaginatedList<NewsListViewModel>

@{
    ViewData["Title"] = "مدیریت اخبار";
    int i = 1;
}

@section Head
{
    <!-- Sweet Alert css -->
    <link href="/plugins/bootstrap-sweetalert/sweet-alert.css" rel="stylesheet" type="text/css" />
    <!-- Sweet Alert js -->
    <script src="/plugins/bootstrap-sweetalert/sweet-alert.min.js"></script>
}

<section class="category-section border-radius">
    <header><i class="fa fa-newspaper-o"></i>  <h3>مدیریت اخبار</h3> </header>
    <table class="table text-center">
        <thead>
            <tr>
                <th class="text-center">
                    عکس خبر
                </th>
                <th class="text-center">
                    عنوان
                </th>
                <th class="text-center">
                    گروه
                </th>
                <th class="text-center">
                    تاریخ انتشار
                </th>
                <th class="text-center">
                    بازدید
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var deleteBtnId = "btn-delete-" + i;
                <tr id="row-@i">
                    <td>
                        <img src="/img/news-images/@item.ImageName" class="admin-news-img" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NewsGroup.GroupTitle)
                    </td>
                    <td>
                        @item.CreateDate.ToPersianDateString()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VisitCount)
                    </td>
                    <td>
                        <a asp-area="Admin" asp-action="Edit" asp-controller="News"
                           asp-route-id="@item.Id" class="btn btn-warning">ویرایش</a> |
                        <a asp-area="" asp-action="ShowNews" asp-controller="News"
                           asp-route-newsId="@item.Id" class="btn btn-primary">مشاهده</a> |
                        <a href="#" class="btn btn-danger" id="@deleteBtnId">حذف</a>
                    </td>
                </tr>
                <script>
                        $('#@deleteBtnId').click(function() {
                        swal({
                            title: "",
                            text: "مطمئنی ؟؟",
                            type: "error",
                            showCancelButton: true,
                            confirmButtonClass: 'btn-danger waves-effect waves-light',
                            confirmButtonText: 'بله!',
                            closeOnConfirm: false
                        },
                        function(isConfirm) {
                            if (isConfirm) {
                                $.ajax({
                                    url: "/Admin/News/Delete/",
                                    type: "POST",
                                    data: {
                                        id: @item.Id
                                    },
                                    dataType: "html",
                                    success: function() {
                                        swal("",
                                            "خبر مورد نظر با موفقت حذف شد!",
                                            "success");
                                        $("#row-@i").hide("slow",
                                            function() {
                                                $("#row-@i").remove();
                                            });
                                    },
                                    statusCode: {
                                        404: function () {
                                            swal({
                                                    title: "دسترسی غیر مجاز!",
                                                    text: "لطفا از دستکاری داده های ارسالی اجتناب کنید!",
                                                    type: "error",
                                                    showCancelButton: false,
                                                    confirmButtonClass: 'btn-danger waves-effect waves-light',
                                                    confirmButtonText: 'باشه ببخشید!',
                                                    closeOnConfirm: true
                                                }
                                            );
                                        }
                                    }
                                });
                            }
                        });
                });
                </script>
                i++;
            }
        </tbody>
    </table>
</section>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";


    <div class="text-center">
        <a asp-area="Admin" asp-controller="News" asp-action="NewsList"
           asp-route-page="@(Model.PageIndex - 1)"
           class="btn btn-default @prevDisabled">
            قبلی
        </a>
        <a asp-area="Admin" asp-controller="News" asp-action="NewsList"
           asp-route-page="@(Model.PageIndex + 1)"
           class="btn btn-default @nextDisabled">
            بعدی
        </a>
    </div>
}