@model PaginatedList<News>
@{
    ViewData["Title"] = "آرشیو اخبار";
}

<section class="last-news-section border-radius">
    <header><i class="icons icon-doc-2"></i>  <h3>آخرین آخبار ارسالی</h3> </header>
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <img class="border-radius" src="/img/news-images/@item.ImageName">
                <h2> <a asp-controller="News" asp-action="ShowNews" asp-route-newsId="@item.Id"> @item.Title </a></h2>
                <p>
                    @item.ShortDescription
                </p>
                <span class="date-publish"><i class="fa fa-calendar"></i> انتشار : @item.CreateDate.ToPersianDateString() </span>
                <a asp-controller="News" asp-action="ShowNews" asp-route-newsId="@item.Id" class="more-link"><i class="icons icon-more"></i></a>
            </li>
        }
    </ul>
</section>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";


    <div class="text-center">
        <a asp-controller="News" asp-action="Archive"
           asp-route-page="@(Model.PageIndex - 1)"
           class="btn btn-default @prevDisabled">
            قبلی
        </a>
        <a asp-controller="News" asp-action="Archive"
           asp-route-page="@(Model.PageIndex + 1)"
           class="btn btn-default @nextDisabled">
            بعدی
        </a>
    </div>
}
