@model SearchViewModel
@{
    ViewData["Title"] = "جستجو";
}

<section class="last-news-section border-radius">
    <header><i class="icons icon-doc-2"></i>  <h3>نتایج یافت شده برای عبارت "@Model.Query"</h3> </header>
    <ul>
        @if (Model.Result.Any())
        {
            foreach (var item in Model.Result)
            {
                <li>
                    <img class="border-radius" src="/img/news-images/@item.ImageName">
                    <h2> <a asp-controller="News" asp-action="ShowNews" asp-route-newsId="@item.Id"> @item.Title </a></h2>
                    <p>
                        @item.ShortDescription
                    </p>
                    <span class="date-publish"><i class="fa fa-calendar"></i> انتشار : @item.CreateDate.ToPersianDateTime() </span>
                    <a asp-controller="News" asp-action="ShowNews" asp-route-newsId="@item.Id" class="more-link"><i class="icons icon-more"></i></a>
                </li>
            }
        }
        else
        {
            <div class="margin-top-down text-center">
                موردی یافت نشد
            </div>
        }

    </ul>
</section>