@using News.Utilities.DateTimeUtility
@model News
@{
    ViewData["Title"] = Model.Title;
}



<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">خانه </a></li>
    <li class="breadcrumb-item"><a href="/">اخبار </a></li>
    <li class="breadcrumb-item"><a href="/Group/@Model.NewsGroupId/@Model.NewsGroup.GroupTitle">@Model.NewsGroup.GroupTitle  </a></li>
    <li class="breadcrumb-item active">@Model.Title </li>
</ul>

<section class="single-news border-radius">
    <header><h2> @Model.Title </h2> <span> <i class="fa fa-calendar"></i>  انتشار : @Model.CreateDate.ToPersianDateString()</span></header>
    <article>
        <p>
            @Model.ShortDescription
        </p>

        @if (Model.ImageName != null)
        {
            <div>
                <img src="/img/news-images/@Model.ImageName" style="max-width: 600px;" alt="@Model.Title" class="thumbnail" />
            </div>
        }

        <p>
            @Model.Description
        </p>
    </article>
</section>

<div class="keywords border-radius">
    @foreach (var item in Model.Tags.Split(','))
    {
        <a href="/Search?q=@item"> @item </a>
    }
</div>
<br />
<section class="category-section border-radius">
    <header><i class="fa fa-comment-o"></i> <h3> نظرات </h3></header>
    <div class="container-fluid">
        @if (Model.Comments != null)
        {
            foreach (var comment in Model.Comments)
            {
                <div class="row p-5">
                    <div class="comment">
                        <img src="/img/avatar-cm.png" alt="" class="comment-avatar">
                        <div class="comment-body">
                            <div class="comment-text">
                                <div class="comment-header">
                                    <a href="#" title="">@comment.User.FullName </a><span>&nbsp; @comment.DateTime.ElapsedTime()</span>
                                </div>
                                @comment.Content
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="text-center p-5">
                هیچ نظری وجود ندارد.
            </div>
        }
    </div>
</section>
<div class="text-center">
    @if (!User.Identity.IsAuthenticated)
    {
        <div class="m-t-30 text-center">
            برای ثبت نظر باید <a style="color:#009dad" asp-controller="Account" asp-action="Login">وارد</a> شوید
        </div>
    }
    else
    {
        <br />
        <form method="post" class="card-box" asp-controller="Comment" asp-action="AddComment">
            <input type="hidden" name="userEmail" value="@User.Identity.Name" />
            <input type="hidden" name="newsId" value="@Model.Id" />
            <div class="row">
                <div class="col-md-12">
                    <label for="comment-content" class="control-label pull-right">
                        نظر خود را بنویسید
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <input type="text" class="form-control" id="comment-content" name="content" required=""/>
                </div>
                <div class="col-md-2 p-t-10 text-left">
                    <input type="submit" class="btn btn-sm btn-primary waves-effect waves-light" value="ارسال"/>
                </div>
            </div>
        </form>
    }
</div>